* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dealer-hand,
#player-hand {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 175px;
}

#buttons {
  display: flex;
  justify-content: center;
}

#hit-button {
  margin-right: 10px;
  height: 50px;
  font-size: 20px;
}

#stand-button{
  margin-right: 10px;
  height: 50px;
  font-size: 20px;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}


body {
  background-color: rgba(0, 104, 0, 1);
  color: rgba(0, 104, 0, 1);
}


